@{
    ViewData["Title"] = "Privacy";
}

<h1>@ViewData["Title"]</h1>
<p>Questa applicazione raccoglie solo i dati necessari per la gestione interna della biblioteca. Nessuna informazione viene condivisa con terze parti.</p>
