@model ErrorViewModel
@{
    ViewData["Title"] = "Errore";
}

<h1 class="text-danger">Si è verificato un errore.</h1>
<p class="text-muted">Richiesta ID: <code>@Model?.RequestId</code></p>
@if (Model?.ShowRequestId ?? false)
{
    <p>Puoi fornire questo ID all'amministratore del sistema per aiutare nella risoluzione.</p>
}